<div class="row section">
	<div class="col-12">
		Education
	</div>
</div>

{{ range $.Site.Data.cv.education.formal }}
<div class="row" id="education">
	<div class="col-xs-12 col-md-3">
		<h2>{{ .year }}</h2>
	</div>
	<div class="col-xs-12 col-md-9">
		<h3>{{ .award }}</h3>

		{{ range .institutions }}
			<p>
				<a href="{{ .url }}" target="_blank">{{ .name }}</a>
			</p>
		{{ end }}

		{{ with .thesis }}
			<p>
				Thesis: <em>{{ .title }}</em>
			</p>
			<p>
			    {{ if gt (len .supervisors) 1 }}
      				Supervisors: {{ partial "delimit_obj.txt" (dict "obj" .supervisors "key" "name") }}
    			{{ else }}
      				Supervisor: {{ range .supervisors }}{{ .name }}{{ end }}
    			{{ end }}
			</p>
		{{ end }}

		<p>
			GPA: {{ .gpa }}
		</p>
		<hr>
	</div>
</div>
{{ end }}
