<!DOCTYPE html>
<html>
<head>
	<title>Nay San - ANU/CoEDL</title>
</head>

    <link rel="stylesheet" type="text/css" href="/_dependencies/bootstrapv4/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/_dependencies/bootstrapv4/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/_dependencies/bootstrapv4/tether.min.css">
    <link rel="stylesheet" type="text/css" href="/_dependencies/fonts/crimson-text.css">

	<style type="text/css">
		body {
			font-family: 'Crimson';
            -webkit-font-smoothing: antialiased;
			line-height: 1em;
		}

		h1, h2, h3, h4 {
			font-size: 1em;
		}

		div {
			/*border: 1px solid red;*/
		}

		div.section {
			text-align: right;
			font-size: 1.5em;
			margin-bottom: 1em;
		}

		img {
			max-width: 95%;
		}

		#education p, h3 {
			padding: 0;
			margin: 0;
		}
	</style>

<body>

<div class="container" style="max-width: 800px">

<div class="row section">
	<div class="col-12">
		About
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-3 col-md-push-9" style="text-align:center">
		<img style="max-width: 150px" src="images/face.jpg">
	</div>
	<div class="col-xs-12 col-md-9 col-md-pull-3">
		<p>
			In a nutshell: I have a keen interest in the systematic organisation of language—both formally and practically.
		</p>

		<p>
			Currently, I am based at the Australian National University node of the ARC Centre of Excellence for the Dynamics of Language, where I am primarily working with Jane Simpson to develop tools and workflows to clean, process and transform lexicographical data from several Australian languages.
		</p>

		<p>
			Previously, I completed a Master of Research (Linguistics) on vowel variation in Kaytetye (pronounced kay-titch, an endangered Central Australian language) at Macquarie University and the ARC Centre of Excellence in Cognition and its Disorders, and also a Bachelor of Arts (Honours I, French) on the perception of French vowels by Australian-English learners of French at the University of Queensland.
		</p>
		<p>
			From September 2018, I'll be joining the Department of Linguistics at Stanford University.
		</p>
	</div>
</div>

{{ partial "education.html" . }}

{{ partial "presentations.html" . }}

</div>

<script type="text/javascript" src="/_dependencies/jquery/jquery-3.2.1.min.js"></script>

<script type="text/javascript" src="/_dependencies/bootstrapv4/tether.min.js"></script>
<script type="text/javascript" src="/_dependencies/bootstrapv4/bootstrap.min.js"></script>


</body>

</html>